# App Authentication
APP_PASSWORD=your-secure-password-here

# NextAuth Configuration
NEXTAUTH_SECRET=your-super-secret-key-here

# Klarna API
KLARNA_REFRESH_TOKEN=your_refresh_token

# Add to Wallet
TARGET=apple
#TARGET=google
ADDTOWALLET_API_KEY=your_api_key